# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.elf
*.arm
*.x86

# Device tree files
*.dtbo
*.dtb

# EEPROM files
*.eep
*.bin

# VSCODE artifacts
.vscode/
.VSCodeCounter/

# Build outputs
build/
build_tests/
doc/
*__pycache__/

# Cmakes artifacts
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
src/Makefile

# QSPICE simulations (too big...)
*.qraw*
*.csv*

# Log files
*.log*
